@model Core.Entities.Booking

<div class="container mb-5">
    <h3 class="my-5">Booking Detail</h3>
    <div class="row">
        <div class="card shadow col-md-6 p-0">
            <div class="card-title card-header">BOOKING CONFIRMATION</div>
            <div class="card-body table-responsive">
                <table class="table table-borderless">
                    <tr>
                        <th>Tour Name</th>
                        <td>@Model.Trip.Tour.Title</td>
                    </tr>
                    <tr>
                        <th>Start Place</th>
                        <td>@Model.Trip.Tour.StartPlace</td>
                    </tr>
                    <tr>
                        <th>Destination</th>
                        <td>@Model.Trip.Tour.Destination</td>
                    </tr>
                    <tr>
                        <th>Start Time</th>
                        <td>@Model.Trip.StartTime.ToCustomDateString()</td>
                    </tr>
                    <tr>
                        <th>End Time</th>
                        <td>@Model.Trip.StartTime.ToCustomDateString()</td>
                    </tr>
                    <tr>
                        <th>Reward Point</th>
                        <td>@Model.Trip.RewardPoints</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card shadow col-md-5 offset-md-1 mt-5 mt-md-0 p-0">
            <div class="card-title card-header">CUSTOMER INFORMATION</div>
            <div class="card-body table-responsive">
                <table class="table table-borderless">
                    <tr>
                        <th>Contact Name</th>
                        <td>@Model.ContactName</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.ContactEmail</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>@Model.ContactPhone</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>@Model.ContactAddress</td>
                    </tr>
                    <tr>
                        <th>Most Valued</th>
                        <td>@Model.MostValued</td>
                    </tr>
                    <tr>
                        <th>Note</th>
                        <td>@Model.Note</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card shadow col-12 p-0 mt-5">
            <div class="card-title card-header">BOOKING DETAIL</div>
            <div class="card-body table-responsive">
                <table class="table table-borderless">
                    <tr>
                        <th>Booking ID</th>
                        <td>@Model.ID (Please remember this number for later enquiries) </td>
                    </tr>
                    <tr>
                        <th>Ticket</th>
                        <td>@Model.TicketCount</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>@Model.Total.ToCurrencyString()</td>
                    </tr>
                    <tr>
                        <th>Deposit</th>
                        <td>@Model.GetDeposit().ToCurrencyString()</td>
                    </tr>
                    <tr>
                        <th>Date Booked</th>
                        <td>@Model.LastUpdated.ToCustomDateString()</td>
                    </tr>
                    <tr>
                        <th>Date Deposited</th>
                        <td>@Model.DateDeposited?.ToCustomDateString()</td>
                    </tr>
                    <tr>
                        <th>Date Completed</th>
                        <td>@Model.DateCompleted?.ToCustomDateString()</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td><span class="@Model.Status.Badge()">@Model.Status</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <h3 class="my-5">Customers' Information</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Dob</th>
                    <th>Age Group</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var info in Model.CustomerInfos)
                {
                    <tr>
                        <td>@info.Name</td>
                        <td>@info.Sex</td>
                        <td>@info.DOB</td>
                        <td>@info.AgeGroup</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>