@model Core.Entities.Booking
@{
    ViewData["Title"] = "Booking Detail";
}
<style>
    .frame-xnbooking{
        background-color:#f2f2f2;
    }
    .frame-chitiet {
        background-color: #f2f2f2;
    }
    .txt-rig{
        margin-top:3%;
    }
    .title{
        color:#136CBF;
        font-weight:bold;
    }
    div{
        margin-bottom:1%;
        margin-top:1%;
       
    }
</style>
<div class="container my-4">
    <div class="row">
        <div class="col-6 ">
            <div class="title">BOOKING CONFIRMATION</div>
            <div class="frame-xnbooking p-3">
                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 " style="font-weight:bold;">Tour ID:</div>
                    <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">@Model.Trip.Tour.ID</div>
                </div>
                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold;">Tour Name:</div>
                    <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">

                        @Model.Trip.Tour.Title

                    </div>
                </div>

                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold;">Start time:</div>
                    <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
                        @Model.Trip.StartTime.Day / @Model.Trip.StartTime.Month / @Model.Trip.StartTime.Year
                    </div>
                </div>
                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold;">End time:</div>
                    <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
                        @Model.Trip.EndTime.Day / @Model.Trip.EndTime.Month / @Model.Trip.EndTime.Year
                    </div>
                </div>
                <div class="row bor-bot">
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold;">Start place:</div>
                    <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
                        @Model.Trip.Tour.StartPlace
                    </div>
                </div>
                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold;">Destination:</div>
                    <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
                       @Model.Trip.Tour.Destination
                    </div>
                </div>
                <div></div>
            </div>
        </div>
        <div class=" col-6">
            <div class="title">CUSTOMER INFORMATION</div>
            <div class="frame-xnbooking p-3">
                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold; m">Customer:</div>
                    <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">@Model.Author.Name </div>
                </div>

                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold;">Phone:</div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 font500 mg-bot">
                        0905324660
                    </div>

                </div>
                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold;">Email:</div>
                    <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
                        laidinhthuan123@gmail.com
                    </div>
                </div>
                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold;">Quantity:</div>
                    <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500 line-h">
                       @Model.Amount
                    </div>
                </div>
                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold;">Points:</div>
                    <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
                        @Model.Total
                    </div>
                </div>
                <div class="row bor-bot">
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold;">Note:</div>
                    <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500 line-h">
                        Booking from Toure.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="txt-rig title">BOOKING DETAIL</div>
            <div class="frame-chitiet p-3">
                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot"style="font-weight:bold;">Booking ID:</div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500 line-h"><span class="font500">@Model.ID</span> (Please remember this Booking number)</div>
                </div>
                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold;">Total:</div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500"><span class="font500">$@(Model.Trip.Price*Model.Quantity)</span></div>
                </div>
                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold;">Register day:</div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500 line-h"><span class="font500">@Model.LastUpdated.Day / @Model.LastUpdated.Month / @Model.LastUpdated.Year </span></div>
                </div>
                
                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold;">State:</div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500 line-h">
                        <span class="font500">
                            Completed
                        </span>
                    </div>
                </div>
                <div class="row mg-bot10 bor-bot">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot" style="font-weight:bold;"><span class="hidden-md hidden-sm">Description:</span></div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500 line-h">@Model.Trip.Tour.Description</div>
                </div>
            </div>
        </div>
    </div>
</div>