@model IEnumerable<Core.Entities.Order>
@{
    ViewData["Title"] = "Order History";
}

   <style>
      
       th {
           color: #4d94ff;
       }
   </style>

<div class="container bootdey">
    <div class="row">
        <div class="col-md-12">
            <h1>Trip History</h1>
        </div>
        <div class="col-md-12">
            <form>
                <input type="text" placeholder="Search by trip name" size="25%">
                <input type="submit" value="search" />
            </form>
            <br />
        </div>
        <br />
        <br />
        <br />

        <div class="col-md-12 justify-content-between">
            <table class="table">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Paid</th>
                    <th class="text-center">Order Date</th>
                    <th class="text-center">Time</th>
                    <th class="text-center">Order By</th>

                </tr>
                @if (Model.Count() > 0)
                {
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td  class="text-center">@obj.ID</td>
                            <td  class="text-center">@obj.TotalPaid</td>
                            @if (@obj.IsPaid)
                            {
                            <td class="text-center text-success" >Paid</td>}
                            else
                            {<td class="text-center text-danger">Not yet</td>}
                        <td  class="text-center">@obj.DateOrdered.Day / @obj.DateOrdered.Month / @obj.DateOrdered.Year</td>
                          <td  class="text-center">@obj.DateOrdered.Hour : @obj.DateOrdered.Minute</td>
                            <td>@obj.CustomerID.</td>
                        </tr>
                    } }
                else
                {
            <tr>
                <td class="text-center">No info</td>
                <td class="text-center">No info</td>
                <td class="text-center">No info</td>
                <td class="text-center"> No info</td>
                <td class="text-center">No info</td>

            </tr>}

            </table>
        </div>
    </div>
</div>