@model QuestionListModel

@{
    ViewData["Title"] = "Question detail";

}
<style>
    .avatar {
        width: 50px;
        height: 50px;
    }
</style>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container mt-5 mb-5">
    <h3 class="panel-title">Conversations</h3>
    <div class="row message-wrapper rounded shadow mb-4">
        <div class="col-md-4 message-sideleft  mt-2 mb-3">
            <div class="panel ">

                <div class="panel-body no-padding">
                    <div class="list-group no-margin list-message">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">@Model.Question.Owner.Name </h4>
                            <small> @Model.Question.LastUpdated.Day/ @Model.Question.LastUpdated.Month/ @Model.Question.LastUpdated.Year at @Model.Question.LastUpdated.Hour:@Model.Question.LastUpdated.Minute</small>
                            <p class="list-group-item-text">
                                Question #@Model.Question.ID: <strong>@Model.Question.Title</strong>
                            </p>
                            <span class="@Model.Question.Status.Badge() pull-right">@Model.Question.Status.ToCustomString()</span>
                            <div class="clearfix"></div>
                        </a>

                    </div><!-- /.list-group -->
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.message-sideleft -->
        <div class="col-md-8 message-sideright">
            <div class="panel">
                <div class="panel-heading">
                    <div class="media mt-2">

                        <a class="pull-left" asp-controller="Customer" asp-action="Index">
                            <img src="@Model.Question.Owner.ImgUrl" alt="Rebecca Cabean" class="img-cỉcle avatar">
                        </a><br />
                        <div class="media-body ml-3">
                            <h4 class="media-heading">@Model.Question.Owner.Name </h4>
                        </div>
                    </div>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    <p class="lead mt-3">
                        @Model.Question.Content
                    </p>

                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <hr />
            @if (Model.Question.Answers.Count > 0)
            {
                foreach (var q in Model.Question.Answers)
                {
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading"> @q.Author</h4>
                                    <small> Answered: @q.LastUpdated.Day/ @q.LastUpdated.Month/ @q.LastUpdated.Year at  @q.LastUpdated.Hour.@q.LastUpdated.Minute </small>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <br />
                            <p class="lead">
                                @q.Content
                            </p>
                            <hr>
                        </div>
                    </div>
                }
            }
        </div>

    </div>

    <div class="row">
        <form asp-action="CreateAns" method="post" class="col-12 mt-5">
            <input asp-for="@Model.Answer.QuestionID" value="@Model.Question.ID" type="hidden" class="form-control">
            <div class="form-group">
                <b><label asp-for="@Model.Answer.Content">Answer</label></b>
                <textarea rows="5" asp-for="@Model.Answer.Content" cols="20" class="form-control" placeholder="Type your answer here"></textarea>
                <span class="text-danger" asp-validation-for="@Model.Answer.Content"></span>
            </div>

            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}