@model PostDetailModel

@{
    ViewData["Title"] = Model.Post.Title;
}

<style>
    #content p {
        width: 100% !important;
    }

    @@media (min-width: 0) {
        .g-mr-15 {
            margin-right: 1.07143rem !important;
        }
    }

    @@media (min-width: 0) {
        .g-mt-3 {
            margin-top: 0.21429rem !important;
        }
    }

    .g-height-50 {
        height: 50px;
    }

    .g-width-50 {
        width: 50px !important;
    }

    @@media (min-width: 0) {
        .g-pa-30 {
            padding: 2.14286rem !important;
        }
    }

    .g-bg-secondary {
        background-color: #fafafa !important;
    }

    .u-shadow-v18 {
        box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
    }

    .g-color-gray-dark-v4 {
        color: #777 !important;
    }

    .g-font-size-12 {
        font-size: 0.85714rem !important;
    }

    .media-comment {
        margin-top: 20px
    }
</style>

<div class="container py-5">
    <figure class="mb-5"><img class="img-fluid rounded w-100" src="@Model.Post.CoverImgUrl" alt="coverImg" /></figure>
    <!-- Post content-->
    <h1 class="font-weight-bold">@Model.Post.Title</h1>
    <div class="text-muted d-flex justify-content-sm-between mt-3 mb-5">
        <div>
            <p class="pb-1">Written by @Model.Post.Owner.FullName on @Model.Post.LastUpdated</p>
        </div>
        <div>
            <i class="fas fa-tag mr-2"></i>
            @for (int i = 0; i < Model.Post.Tags.Count; i++)
            {
                <a asp-action="Index" asp-route-FilterParams.Keyword="@Model.Post.Tags[i]" class="text-reset">@Model.Post.Tags[i]</a>
                @if (i != Model.Post.Tags.Count - 1)
                {
                    <span>,&nbsp;</span>
                }
            }
        </div>
    </div>
    <section id="content" class="mb-3 overflow-hidden w-100">
        @Html.Raw(Model.Post.Content)
    </section>
    <div class="container">
        <h3 class="my-5">Comments</h3>
        <div class="row mb-0 p-0">
            @foreach (var comment in Model.Post.Comments)
            {
                <div class="col-md-8">
                    <div class="media g-mb-30 media-comment">
                        <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="@comment.Owner.ImgUrl" alt="Commentator image">
                        <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                            <div class="g-mb-15">
                                <h5 class="h5 g-color-gray-dark-v1 mb-0">@comment.Owner.Name</h5>
                                <span class="g-color-gray-dark-v4 g-font-size-12">@comment.LastUpdated.ToCustomDateString()</span>
                            </div>
                            <p>
                                @comment.Content
                            </p>
                        </div>
                    </div>
                </div>
            }
            @if (!Model.Post.Comments.Any())
            {
                <p class="ml-3 text-muted">No comments yet, be the first to comment!</p>
            }
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <form class="col-md-8 p-0 my-3" asp-action="AddComment" method="post">
                <input type="hidden" asp-for="@Model.Comment.PostID" value="@Model.Post.ID" />
                <div class="form-group">
                    <label asp-for="Comment.Content" class="h5">Leave a comment</label>
                    <textarea asp-for="Comment.Content" rows="5" id="commentArea" class="form-control"></textarea>
                    <span asp-validation-for="Comment.Content" class="text-danger"></span>
                    <div class="w-100 d-flex justify-content-end mt-3">
                        <button class="btn btn-primary ml-auto">Submit comment</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <p class="text-muted my-5 h6 text-center"><a asp-action="SignInWithGoogle" asp-controller="Auth" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)">Sign in</a> to write a comment</p>
        }
    </div>
    @if (Model.Recommendations.Any())
    {
        <h3 class="my-5">You may also be interested in</h3>
        <div class="overflow-auto">
            <div class="d-inline-flex py-3">
                @foreach (var post in Model.Recommendations)
                {
                    <div class="mr-5" style="width: 20rem;">
                        <!-- Card -->
                        <img class="img-fluid rounded" style="object-fit: cover; width: 100%; height: 12rem" src="@post.CoverImgUrl" alt="Sample">

                        @if (post.LastUpdated >= DateTime.Now.AddDays(-1))
                        {
                            <span class="mb-0"><span class="badge badge-primary badge-pill badge-news">New</span></span>
                        }

                        <div class="pt-4">
                            <a asp-action="Detail" asp-route-id="@post.ID" class="h5 card-link" style="color: black">@post.Title</a>
                            <p class="small text-muted text-uppercase my-3 d-md-flex justify-content-between">
                                <a href="#!" class="text-reset">by <strong>@post.Owner.FullName</strong></a>
                                <a href="#!" class="text-reset d-block">@post.LastUpdated.ToCustomDateString()</a>
                            </p>
                            <hr>

                        </div>
                        <div class="d-flex justify-content-between text-uppercase text-muted white small">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-tag mr-2"></i>
                                @for (int i = 0; i < post.Tags.Count; i++)
                                {
                                    <a asp-action="Index" asp-route-FilterParams.Keyword="@post.Tags[i]" class="text-reset">@post.Tags[i]</a>
                                    @if (i != post.Tags.Count - 1)
                                    {
                                        <span>,&nbsp;</span>
                                    }
                                }
                            </div>
                            <div class="d-flex align-items-center">
                                <a href="#!" class="text-reset">
                                    <i class="fas fa-comment-alt mr-2"></i>@post.Comments.Count
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
