@model Client.Models.BlogListModel
@{
    ViewData["Title"] = "Blog";
}

<div id="parallax" class="d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/mountain.jpg');">
    <h1 class="display-3 text-white">Our Blog</h1>
</div>

<!--Section: Block Content-->
<section class="container mb-5">
    <form method="get">

        <div class="row p-0 m-0 my-5">
            <div class="d-flex col-md-5 p-0">
                <input class="form-control w-100" asp-for="FilterParams.Keyword" placeholder="Search keyword, tags..." value="" />
            </div>
            <div class="d-flex col-8 col-md-5 mt-md-0 mt-3 p-0 pl-md-3">
                <label>Category:</label>
                <select asp-for="FilterParams.Category" class="form-control ml-3" asp-items="@Html.GetEnumSelectList<IPost<Employee>.PostCategory>()">
                    <option value="">All</option>
                </select>
            </div>
            <div class="col-4 col-md-2 mt-3 mt-md-0 p-0 d-flex justify-content-end">
                <button class="btn btn-primary ml-auto">Search</button>
            </div>
        </div>
    </form>

    <!-- Grid row -->
    <div class="row mt-3">
        @foreach (var post in Model.Posts)
        {
            <!-- Grid column -->
            <div class="col-md-6 col-lg-4 mb-4">
                <!-- Card -->
                <div class="">
                    <div class="w-100" style="height: 15rem;">
                        <img class="img-fluid rounded w-100 h-100" style="object-fit: cover" src="@post.CoverImgUrl" alt="Sample">
                    </div>
                    @if (post.LastUpdated >= DateTime.Now.AddDays(-1))
                    {
                        <span><span class="badge badge-primary badge-pill">New</span></span>
                    }

                    <div class="pt-4">
                        <a asp-action="Detail" asp-route-id="@post.ID" class="h5 card-link" style="color: black">@post.Title</a>
                        <p class="small text-muted text-uppercase my-3">
                            by
                            <a href="#!" class="text-reset"><strong>@post.Author.FullName</strong></a>
                            <a href="#!" class="text-reset float-right">@post.LastUpdated.ToCustomDateString()</a>
                        </p>
                        <hr>

                    </div>
                    <div class="d-flex justify-content-between text-uppercase text-muted white small">
                        <div class="d-flex align-items-center">
                            <i class="fas fa-tag mr-2"></i>
                            @for (int i = 0; i < post.Tags.Count; i++)
                            {
                                <a href="#!" class="text-reset">@post.Tags[i]</a>
                                @if (i != post.Tags.Count - 1)
                                {
                                    <span>,&nbsp;</span>
                                }
                            }
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="#!" class="text-reset">
                                <i class="fas fa-comment-alt mr-2"></i>1
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- Grid column -->
        }
    </div>
    <!-- Grid row -->
    @if (!Model.Posts.Any())
    {
        <div class="w-100 d-flex justify-content-center my-5">
            <img class="w-50" src="~/images/empty.svg" alt="completed booking illustration" />
        </div>
        <p class="text-center text-muted mt-5">Sorry, we could not find any posts for your preferences</p>
    }
    @if (Model.Posts.Any())
    {
        <div class="my-5 mr-4 pr-2">
            <partial name="_Pagination" model="Model.Posts.PaginationInfo" />
        </div>
    }
</section>
<!--Section: Block Content-->
